# Python
__pycache__/
*.pyc
venv/
.env

# Docker
*.log

# IDE
.vscode/
.idea/

# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform/
*.tfplan
terraform/vm_ip.txt
terraform/ssh_command.txt